@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

html {
	background-image: url(image/bgimg.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 40px;
	scroll-behavior: smooth;
}
body {
	background-color: rgba(255,255,255,0.5);
	border-radius: 45px;
	font-family: "微軟正黑體";
	
}
#img-logo {
	width: 120px;
}
#navbar-bg-color {
	background-color: rgba(116,185,255,0.5);
	border-radius: 45px 45px 0 0;
	padding: 15px 25px 5px 25px;
}
.navhov {
	transition: 0.3s;
	border-radius: 45px;
	margin: 5px;
	font-weight: bold;
}
.navhov:hover {
	background-color: #0984e3;
	color: white;

}

#gotopbox {
	position: fixed;
	right: 8px;
	bottom: 22px;
	background-color: rgba(0,0,0,0.9);
	padding: 0 0 20px 10px;
	border-radius: 50%;
	height: 45px;
	width: 45px;
	transition: 0.2S;
}
#gotop {
	position: fixed;
	right: 15px;
	bottom: 15px;
	font-size: 45px;
	color: rgba(255,255,255,0.9);
	transition: 0.2S;
}
.gotopA {
	opacity: 1;
}
.gotopB {
	opacity: 0;
}


.con {
	background-color: rgba(255,255,255,0.5);
	border-radius: 45px;
	padding: 15px;
	margin: 15px;
	transition: 0.4s;
}
.con:hover {
	background-color: rgba(255,234,167,0.9);
}
.title-1 {
	font-size: 45px;
	font-weight: 800;
	color: rgba(9, 132, 277, 1);
	text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.2);
}
.title-2 {
	font-size: 28px;
	font-weight: 600;
	color: rgba(108, 92, 231, 1);
	transition: 0.2s;
}
hr {
	border: 3px solid rgba(108, 92, 231, 1);
	border-radius: 5px;
}
.con-1-img {
	width:235px;
	height:300px;
	transition: 0.3s;
}
.con-1-div {
	background-color: rgba(129,236,236,0.8);
	border-radius: 50px;
	margin: 15px;
	padding: 25px;
	transition: 0.3s;
}
.con-1-div:hover {
	background-color: rgba(116,185,255,1);
	border: 5px solid rgba(108, 92, 231, 1);
	
}
.con-1-div:hover .title-2 {
	color: rgba(255, 255, 255, 0.9);
}
.con-1-div:hover .title-2 + .con-1-img{
	border: 5px solid rgba(255, 255, 255, 0.7);
}
.imgw {
	width: 100%!important
	height: 500px;
}
footer {
	background-color: rgba(0,0,0,0.9);
	padding: 10px;
	border-radius: 0 0 45px 45px;
}
.facolor {
	color: white;
	margin: 10px;
	border-radius: 50px;
	transition: 0.3s;
}
.facolor:hover {
	color: #0984e3;
}
.icon-btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 50px;
}